{% extends 'base.html' %}

<!-- Заголовок страницы -->
<div class="title">
    {% block title %}Список вакансий{% endblock %}
</div>

<!-- Вывод вакансий (карточек) -->
<div class="content">
    {% block content %}

    {% for vacancy in vacancies_list %}
        <div class="card my-3">
            <h5 class="card-header">
                <a href="{{ vacancy.url }}" target="_blank">{{ vacancy.designation }}</a>
            </h5>
            <div class="card-body">
                <p class="card-text">{{ vacancy.description }}</p>
                <p>
                    <span class="city" style="font-weight: 600">{{ vacancy.city.designation }}</span> |
                    {{ vacancy.vacancy.designation }} | {{ vacancy.time_stamp }}
                </p>
            </div>
        </div>
    {% endfor %}

    {% endblock %}
</div>

