<!-- Наследование от базового шаблона (src/templates/base.html)-->
{% extends 'base.html' %}

{% block title %}WorkSE - Список вакансий{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <h2 class="text-center my-3">Сервис по сбору и рассылке вакансий</h2>
    </div>
</div>

<!-- Вывод формы -->
<div class="row">
    <div class="col-md-8 mx-auto">
        <h4 class="text-center my-3">Для просмотра доступных вакансий - заполните форму.</h4>
        <form method="get" action="{% url 'list' %}">
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
    </div>
</div>


{% endblock %}