{% extends 'base.html' %}

{% block title %}WorkSE - Список вакансий{% endblock %}

{% block content %}
{% for vacancy in vacancies_list %}
<div class="card my-3">
    <div class="card-header">
        {{ vacancy.company }}
    </div>
    <div class="card-body">
        <h5 class="card-title"><a href="{{ vacancy.url }}" target="_blank">{{ vacancy.title }}</a></h5>
        <p class="card-text">{{ vacancy.description|truncatewords:75 }}</p>
        <h6><span style="font-weight: 200">{{ vacancy.city.title }} | {{ vacancy.specialization.title }} | {{ vacancy.time_stamp }}</span>
        </h6>
    </div>
</div>

{% empty %}
    <h3 style="text-align: center; margin: 30px;">К сожалению, по вашему запросу ничего не найдено :(</h3>

{% endfor %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="get">
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
    </div>
</div>


{% endblock %}